[Resolutions]

## When enabled, the camera resolution will be modified.
Enable = true

## Explicit native render target.
Auto Size = false

Check Resolution Every Frame = false
Width = 2560
Height = 1440

[HUD]
Fixed Aspect Ratio = true
Check Resolution Every Frame = false

[HDRP]
Antialiasing = None
Bloom = Vanilla
Fog Rendering Method = Vanilla
Shadow = Vanilla
Post Processing = Vanilla
Vignette = Vanilla

[Visors]
Disable = false
