## Settings file was created by plugin SpectateEnemy v2.9.1
## Plugin GUID: SpectateEnemy

[Config]

## Hides the controls toolip on the right hand side.
# Setting type: Boolean
# Default value: false
Hide Controls = false

[Enemies]

## Enables spectating Siren Head
# Setting type: Boolean
# Default value: true
Siren Head = true

## Enables spectating Raptor
# Setting type: Boolean
# Default value: true
Raptor = true

## Enables spectating T-rex
# Setting type: Boolean
# Default value: true
T-rex = true

## Enables spectating Boomba
# Setting type: Boolean
# Default value: true
Boomba = true

## Enables spectating Crystal Ray
# Setting type: Boolean
# Default value: false
Crystal Ray = true

## Enables spectating Clay Surgeon
# Setting type: Boolean
# Default value: true
Clay Surgeon = true

## Enables spectating Masked
# Setting type: Boolean
# Default value: true
Masked = true

## Enables spectating Spring
# Setting type: Boolean
# Default value: true
Spring = true

## Enables spectating Girl
# Setting type: Boolean
# Default value: true
Girl = true

## Enables spectating Baboon hawk
# Setting type: Boolean
# Default value: true
Baboon hawk = true

## Enables spectating Blob
# Setting type: Boolean
# Default value: true
Blob = true

## Enables spectating Maneater
# Setting type: Boolean
# Default value: true
Maneater = true

## Enables spectating Centipede
# Setting type: Boolean
# Default value: true
Centipede = true

## Enables spectating Bunker Spider
# Setting type: Boolean
# Default value: true
Bunker Spider = true

## Enables spectating Hoarding bug
# Setting type: Boolean
# Default value: true
Hoarding bug = true

## Enables spectating Tulip Snake
# Setting type: Boolean
# Default value: false
Tulip Snake = false

## Enables spectating Stingray
# Setting type: Boolean
# Default value: true
Stingray = true

## Enables spectating Jester
# Setting type: Boolean
# Default value: true
Jester = true

## Enables spectating MouthDog
# Setting type: Boolean
# Default value: true
MouthDog = true

## Enables spectating Flowerman
# Setting type: Boolean
# Default value: true
Flowerman = true

## Enables spectating Butler
# Setting type: Boolean
# Default value: true
Butler = true

## Enables spectating Nutcracker
# Setting type: Boolean
# Default value: true
Nutcracker = true

## Enables spectating Crawler
# Setting type: Boolean
# Default value: true
Crawler = true

## Enables spectating ImmortalSnail
# Setting type: Boolean
# Default value: true
ImmortalSnail = true

## Enables spectating Dont Touch Me
# Setting type: Boolean
# Default value: true
Dont Touch Me = true

## Enables spectating Football
# Setting type: Boolean
# Default value: true
Football = true

## Enables spectating Herobrine
# Setting type: Boolean
# Default value: true
Herobrine = true

## Enables spectating BagpipeGhost
# Setting type: Boolean
# Default value: true
BagpipeGhost = true

## Enables spectating HarpGhost
# Setting type: Boolean
# Default value: true
HarpGhost = true

## Enables spectating EnforcerGhost
# Setting type: Boolean
# Default value: true
EnforcerGhost = true

## Enables spectating RollingGiant
# Setting type: Boolean
# Default value: true
RollingGiant = true

## Enables spectating Puffmin
# Setting type: Boolean
# Default value: true
Puffmin = true

## Enables spectating Pikmin
# Setting type: Boolean
# Default value: true
Pikmin = true

## Enables spectating SCP-999
# Setting type: Boolean
# Default value: true
SCP-999 = true

## Enables spectating Shy guy
# Setting type: Boolean
# Default value: true
Shy guy = true

## Enables spectating Men-stalker
# Setting type: Boolean
# Default value: false
Men-stalker = false

## Enables spectating SlendermanEnemy
# Setting type: Boolean
# Default value: true
SlendermanEnemy = true

## Enables spectating Cabinet
# Setting type: Boolean
# Default value: true
Cabinet = true

## Enables spectating IrisMaskVariant
# Setting type: Boolean
# Default value: true
IrisMaskVariant = true

## Enables spectating Dark Spring
# Setting type: Boolean
# Default value: true
Dark Spring = true

## Enables spectating Floating head
# Setting type: Boolean
# Default value: true
Floating head = true

## Enables spectating Arachnohead
# Setting type: Boolean
# Default value: true
Arachnohead = true

## Enables spectating Emma
# Setting type: Boolean
# Default value: true
Emma = true

## Enables spectating Elder
# Setting type: Boolean
# Default value: true
Elder = true

## Enables spectating Broken Mannequin
# Setting type: Boolean
# Default value: true
Broken Mannequin = true

## Enables spectating Headless Mannequin
# Setting type: Boolean
# Default value: true
Headless Mannequin = true

## Enables spectating Mannequin
# Setting type: Boolean
# Default value: true
Mannequin = true

## Enables spectating Bush Wolf
# Setting type: Boolean
# Default value: true
Bush Wolf = true

## Enables spectating Butler Bees
# Setting type: Boolean
# Default value: true
Butler Bees = true

## Enables spectating Cadaver Bloom
# Setting type: Boolean
# Default value: true
Cadaver Bloom = true

## Enables spectating Cadaver Growths
# Setting type: Boolean
# Default value: true
Cadaver Growths = true

## Enables spectating Docile Locust Bees
# Setting type: Boolean
# Default value: false
Docile Locust Bees = false

## Enables spectating Manticoil
# Setting type: Boolean
# Default value: false
Manticoil = false

## Enables spectating Red Locust Bees
# Setting type: Boolean
# Default value: false
Red Locust Bees = false

## Enables spectating ForestGiant
# Setting type: Boolean
# Default value: true
ForestGiant = true

## Enables spectating GiantKiwi
# Setting type: Boolean
# Default value: false
GiantKiwi = false

## Enables spectating Puffer
# Setting type: Boolean
# Default value: true
Puffer = true

## Enables spectating Feiopar
# Setting type: Boolean
# Default value: true
Feiopar = true

## Enables spectating RadMech
# Setting type: Boolean
# Default value: true
RadMech = true

## Enables spectating Earth Leviathan
# Setting type: Boolean
# Default value: true
Earth Leviathan = true

## Enables spectating Vermin
# Setting type: Boolean
# Default value: true
Vermin = true

## Enables spectating Ogopogo
# Setting type: Boolean
# Default value: false
Ogopogo = false

## Enables spectating Boom bird
# Setting type: Boolean
# Default value: false
Boom bird = false

## Enables spectating Leaf boy
# Setting type: Boolean
# Default value: false
Leaf boy = false

## Enables spectating Prototax
# Setting type: Boolean
# Default value: false
Prototax = false

## Enables spectating Coil Crab
# Setting type: Boolean
# Default value: false
Coil Crab = false

## Enables spectating Aloe
# Setting type: Boolean
# Default value: true
Aloe = true

## Enables spectating Landmines
# Setting type: Boolean
# Default value: false
Landmine = false

## Enables spectating Turrets
# Setting type: Boolean
# Default value: false
Turret = false

Locker = true

Observer = true

redGnome = true

SoulDev = true

WalkerType = true

Dogday Monster = true

Huggy Wuggy = true

Boxy Boo = true

Miss Delight = true

DogdayRuinedEnemyType = true

CatnapRuinedEnemyType = true

CraftyRuinedEnemyType = true

BubbaRuinedEnemyType = true

PickyRuinedEnemyType = true

BobbyRuinedEnemyType = true

HoppyRuinedEnemyType = true

KickinRuinedEnemyType = true

SkullEnemy = true

MoaiPurple = true

MoaiGold = true

MoaiGreen = true

MoaiRed = true

MoaiBlue = true

MoaiEnemy = true

DriftwoodMenaceObj = true

RedwoodTitanObj = true

TheFiend = true

EnemyMovingTurret = true

SCP682ET = true

SCP939 = true

Gallenarma = true

EyeSecurity = true

AdultWanderer = true

Wanderer = true

LightEaterEnemy = true

BellCrabAsset = true

Foxy = true

ShibaEnemy = true

Baldi = true

ShrimpEnemy = true

DroneEnemy = true

EnemyCleaningDrone = true

NemoAsset = true

blueGnome = true

SCP-096 = true

D.O.G = true

Maggie = true

