## Settings file was created by plugin HatLib v0.0.4
## Plugin GUID: MrHat.Lib

[Internal]

## If true, allows debug logging
# Setting type: Boolean
# Default value: false
Debug Logs = false

