[UI Options]

## In game default value is 0.4, having this set to true will multiply the 'displayed value' by 2.5 so it looks normal.
# Setting type: Boolean
# Default value: true
Normalize scrap value display number? = true

# Setting type: Boolean
# Default value: true
Enable UI? = true

# Setting type: Boolean
# Default value: true
Display UI Letter Box? = true

## Display extra properties on UI such as scrap value and amount multipliers.
# Setting type: Boolean
# Default value: true
Display extra properties = true

## Will the UI popup whenever you start the day?
# Setting type: Boolean
# Default value: true
PopUp UI? = true

## UI popup time
# Setting type: Single
# Default value: 45
PopUp UI time. = 45

## Multiplier speed on scrolling with arrows.
# Setting type: Single
# Default value: 1
Scroll speed = 1

## Will only display event's after ship has left.
# Setting type: Boolean
# Default value: false
Display UI after ship leaves? = false

## This will show Event Type raritys for next day and difficulty info.
# Setting type: Boolean
# Default value: true
Display extra properties on UI after ship leaves? = true

## Having this set to false wont show events in the UI.
# Setting type: Boolean
# Default value: true
Display events? = true

# Setting type: Boolean
# Default value: false
Will Minus display events in chat? = false

## Scale for UI on the X axis. Do not modify this unless you know what you are doing.
# Setting type: Single
# Default value: 1
UI Scale X = 1

## Scale for UI on the Y axis. Do not modify this unless you know what you are doing.
# Setting type: Single
# Default value: 1
UI Scale Y = 1

## Scale for UI on the Z axis. Do not modify this unless you know what you are doing.
# Setting type: Single
# Default value: 1
UI Scale Z = 1

## Offset of UI on the X axis. Do not modify this unless you know what you are doing.
# Setting type: Single
# Default value: 0
UI Position X Offset = 0

## Offset of UI on the Y axis. Do not modify this unless you know what you are doing.
# Setting type: Single
# Default value: 0
UI Position Y Offset = 0

## Offset of UI on the Z axis. Do not modify this unless you know what you are doing.
# Setting type: Single
# Default value: 0
UI Position Z Offset = 0

## Rotation of UI on the X axis. Do not modify this unless you know what you are doing.
# Setting type: Single
# Default value: 0
UI Rotation X = 0

## Rotation of UI on the Y axis. Do not modify this unless you know what you are doing.
# Setting type: Single
# Default value: 0
UI Rotation Y = 0

## Rotation of UI on the Z axis. Do not modify this unless you know what you are doing.
# Setting type: Single
# Default value: 0
UI Rotation Z = 0

[UI Options (Color)]

# Setting type: String
# Default value: K
Toggle UI Key = K

## Color hex for UI elements.
# Setting type: String
# Default value: 00A000
UI Color Hex = 00A000

## Changes the color of the UI element when not active (0-1).
# Setting type: Single
# Default value: 0.6275
UI Color Reduction Factor = 0.6275

## Color hex for UI arrows.
# Setting type: String
# Default value: 00A000
UI Arrow Color Hex = 00A000

## Mutliplies the color by this number when UI arrows are active.
# Setting type: Single
# Default value: 1.59375
UI Arrow Color Amplification = 1.59375

## Color hex for UI text.
# Setting type: String
# Default value: 00FF00
UI Text Color Hex = 00FF00

## Color hex for insane event type. This only affects the category name color, not events itself.
# Setting type: String
# Default value: 8B008B
Insane Event UI Color Hex = 8B008B

## Color hex for very bad event type. This only affects the category name color, not events itself.
# Setting type: String
# Default value: 800000
Very Bad Event UI Color Hex = 800000

## Color hex for bad event type. This only affects the category name color, not events itself.
# Setting type: String
# Default value: FF0000
Bad Event UI Color Hex = FF0000

## Color hex for neutral event type. This only affects the category name color, not events itself.
# Setting type: String
# Default value: FFFFFF
Neutral Event UI Color Hex = FFFFFF

## Color hex for good event type. This only affects the category name color, not events itself.
# Setting type: String
# Default value: 008000
Good Event UI Color Hex = 008000

## Color hex for very good event type. This only affects the category name color, not events itself.
# Setting type: String
# Default value: 00FF00
Very Good Event UI Color Hex = 00FF00

## Color hex for rare event type. This only affects the category name color, not events itself.
# Setting type: String
# Default value: 00FFFF
Rare Event UI Color Hex = 00FFFF

## Color hex for remove event type. This only affects the category name color, not events itself.
# Setting type: String
# Default value: 008000
Remove Event UI Color Hex = 008000

