[UI Text (Difficulty)]

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Difficulty
Difficulty Title Text = Difficulty

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Difficulty:
Difficulty Amount Text = Difficulty:

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Day:\s\s\s\s\s\s\s\s
Day Text = Day:\s\s\s\s\s\s\s\s

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Quota:\s\s\s\s\s\s
Quota Text = Quota:\s\s\s\s\s\s

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Ship Scrap:\s
Ship Scrap Text = Ship Scrap:\s

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Moon Risk:\s\s
Moon Risk Text = Moon Risk:\s\s

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Weather:\s\s\s\s
Weather Text = Weather:\s\s\s\s

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Heat:\s\s\s\s\s\s\s
Heat Text = Heat:\s\s\s\s\s\s\s

[UI Text (Event Type)]

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: EventType Chances
Event Type Chances Text = EventType Chances

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Insane
Insane Text = Insane

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: VeryBad
Very Bad Text = VeryBad

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Bad
Bad Text = Bad

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Neutral
Neutral Text = Neutral

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Good
Good Text = Good

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: VeryGood
Very Good Text = VeryGood

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Rare
Rare Text = Rare

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Remove
Remove Text = Remove

[UI Text (General)]

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Events:
Event Title Text = Events:

[UI Text (Other)]

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Other
Other Text = Other

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Scrap Value
Scrap Value Text = Scrap Value

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Scrap Amount
Scrap Amount Text = Scrap Amount

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Factory Size
Factory Size Text = Factory Size

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Spawn Chance
Spawn Chance Text = Spawn Chance

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Spawn Cap
Spawn Cap Text = Spawn Cap

## This is used for localization of text elements on the UI. Use \s to represent a space. For event descriptions, you can find them in their respective config sections.
# Setting type: String
# Default value: Bonus enemy hp
Bonus Enemy Hp Text = Bonus enemy hp

