## Settings file was created by plugin SpectateEnemy v2.9.1
## Plugin GUID: SpectateEnemy

[Config]

## Hides the controls toolip on the right hand side.
# Setting type: Boolean
# Default value: false
Hide Controls = false

[Enemies]

## Enables spectating SoulDev
# Setting type: Boolean
# Default value: true
SoulDev = true

## Enables spectating WalkerType
# Setting type: Boolean
# Default value: true
WalkerType = true

## Enables spectating Dogday Monster
# Setting type: Boolean
# Default value: true
Dogday Monster = true

## Enables spectating Huggy Wuggy
# Setting type: Boolean
# Default value: true
Huggy Wuggy = true

## Enables spectating Boxy Boo
# Setting type: Boolean
# Default value: true
Boxy Boo = true

## Enables spectating Miss Delight
# Setting type: Boolean
# Default value: true
Miss Delight = true

## Enables spectating DogdayRuinedEnemyType
# Setting type: Boolean
# Default value: true
DogdayRuinedEnemyType = true

## Enables spectating CatnapRuinedEnemyType
# Setting type: Boolean
# Default value: true
CatnapRuinedEnemyType = true

## Enables spectating CraftyRuinedEnemyType
# Setting type: Boolean
# Default value: true
CraftyRuinedEnemyType = true

## Enables spectating BubbaRuinedEnemyType
# Setting type: Boolean
# Default value: true
BubbaRuinedEnemyType = true

## Enables spectating PickyRuinedEnemyType
# Setting type: Boolean
# Default value: true
PickyRuinedEnemyType = true

## Enables spectating BobbyRuinedEnemyType
# Setting type: Boolean
# Default value: true
BobbyRuinedEnemyType = true

## Enables spectating HoppyRuinedEnemyType
# Setting type: Boolean
# Default value: true
HoppyRuinedEnemyType = true

## Enables spectating KickinRuinedEnemyType
# Setting type: Boolean
# Default value: true
KickinRuinedEnemyType = true

## Enables spectating SkullEnemy
# Setting type: Boolean
# Default value: true
SkullEnemy = true

## Enables spectating MoaiPurple
# Setting type: Boolean
# Default value: true
MoaiPurple = true

## Enables spectating MoaiGold
# Setting type: Boolean
# Default value: true
MoaiGold = true

## Enables spectating MoaiGreen
# Setting type: Boolean
# Default value: true
MoaiGreen = true

## Enables spectating MoaiRed
# Setting type: Boolean
# Default value: true
MoaiRed = true

## Enables spectating MoaiBlue
# Setting type: Boolean
# Default value: true
MoaiBlue = true

## Enables spectating MoaiEnemy
# Setting type: Boolean
# Default value: true
MoaiEnemy = true

## Enables spectating TheFiend
# Setting type: Boolean
# Default value: true
TheFiend = true

## Enables spectating EnemyMovingTurret
# Setting type: Boolean
# Default value: true
EnemyMovingTurret = true

## Enables spectating SCP682ET
# Setting type: Boolean
# Default value: true
SCP682ET = true

## Enables spectating SCP939
# Setting type: Boolean
# Default value: true
SCP939 = true

## Enables spectating Gallenarma
# Setting type: Boolean
# Default value: true
Gallenarma = true

## Enables spectating EyeSecurity
# Setting type: Boolean
# Default value: true
EyeSecurity = true

## Enables spectating AdultWanderer
# Setting type: Boolean
# Default value: true
AdultWanderer = true

## Enables spectating Wanderer
# Setting type: Boolean
# Default value: true
Wanderer = true

## Enables spectating LightEaterEnemy
# Setting type: Boolean
# Default value: true
LightEaterEnemy = true

## Enables spectating BellCrabAsset
# Setting type: Boolean
# Default value: true
BellCrabAsset = true

## Enables spectating Foxy
# Setting type: Boolean
# Default value: true
Foxy = true

## Enables spectating ShibaEnemy
# Setting type: Boolean
# Default value: true
ShibaEnemy = true

## Enables spectating Baldi
# Setting type: Boolean
# Default value: true
Baldi = true

## Enables spectating ShrimpEnemy
# Setting type: Boolean
# Default value: true
ShrimpEnemy = true

## Enables spectating DroneEnemy
# Setting type: Boolean
# Default value: true
DroneEnemy = true

## Enables spectating PeeperType
# Setting type: Boolean
# Default value: true
PeeperType = true

## Enables spectating EnemyCleaningDrone
# Setting type: Boolean
# Default value: true
EnemyCleaningDrone = true

## Enables spectating NemoAsset
# Setting type: Boolean
# Default value: true
NemoAsset = true

Siren Head = true

Raptor = true

T-rex = true

Boomba = true

Crystal Ray = true

Clay Surgeon = true

Masked = true

Spring = true

Girl = true

Baboon hawk = true

Blob = true

Maneater = true

Centipede = true

Bunker Spider = true

Hoarding bug = true

Tulip Snake = false

Stingray = true

Jester = true

MouthDog = true

Flowerman = true

Butler = true

Nutcracker = true

Crawler = true

ImmortalSnail = true

Dont Touch Me = true

Football = true

Herobrine = true

BagpipeGhost = true

HarpGhost = true

EnforcerGhost = true

RollingGiant = true

Puffmin = true

Pikmin = true

SCP-999 = true

Shy guy = true

Men-stalker = false

SlendermanEnemy = true

Cabinet = true

IrisMaskVariant = true

Dark Spring = true

Floating head = true

Arachnohead = true

Emma = true

Elder = true

Broken Mannequin = true

Headless Mannequin = true

Mannequin = true

Bush Wolf = true

Butler Bees = true

Cadaver Bloom = true

Cadaver Growths = true

Docile Locust Bees = false

Manticoil = false

Red Locust Bees = false

ForestGiant = true

GiantKiwi = false

Puffer = true

Feiopar = true

RadMech = true

Earth Leviathan = true

Vermin = true

Ogopogo = false

Boom bird = false

Leaf boy = false

Prototax = false

Coil Crab = false

Aloe = true

Landmine = false

Turret = false

Locker = true

Observer = true

redGnome = true

DriftwoodMenaceObj = true

RedwoodTitanObj = true

blueGnome = true

SCP-096 = true

D.O.G = true

Maggie = true

