## Settings file was created by plugin Jester Free v2.0.0
## Plugin GUID: AriDev.JesterFree

[Sound]

## Intro
# Setting type: Boolean
# Default value: true
EnableIntro = true

## Vol
# Setting type: Int32
# Default value: 50
IntroVolume = 50

## Solo
# Setting type: Boolean
# Default value: true
EnableSolo = true

## Vol
# Setting type: Int32
# Default value: 100
SoloVolume = 100

