[BioDiversity]

## Enable Custom Ogopogo sounds?
# Setting type: Boolean
OgoPogo = false

## Enable Custom Leaf Boy sounds?
# Setting type: Boolean
LeafBoy = false

## Enable Custom Aloe sounds?
# Setting type: Boolean
Aloe = false

[A_Options]

## FEATURE ON HOLD, LEAVE DISABLED (May reduce CPU overhead at cost of RAM, this is not intended behavior)
# Setting type: Boolean
Performance_Mode = false

## FEATURE ON HOLD, LEAVE DISABLED (May reduce CPU overhead at cost of RAM, this is not intended behavior)
# Setting type: Boolean
Performance_Mode_Extras = false

[EnabledSounds]

## Enable LR nutcracker shotgun fire?
# Setting type: Boolean
nutcracker_shotgun = false

## Enable LR shotgun fire?
# Setting type: Boolean
shotgun = false

## Enable LR walkie-talkie sounds?
# Setting type: Boolean
walkie = false

## Enable LR main day music? (AmbientPackMusic compatible)
# Setting type: Boolean
day_music = false

## Enable LR Custom Diversity sounds?
# Setting type: Boolean
diversity = false

## Enable LR Custom Meltdown sounds?
# Setting type: Boolean
meltdown = false

## Enable LR shovel sounds?
# Setting type: Boolean
shovel = false

## Enable Pixel Scan? (Ensure moroxide_scan is disabled to make it work)
# Setting type: Boolean
scanner_pixel = false

## Enable Moroxide Scan? (Ensure pixel_scan is disabled to make it work)
# Setting type: Boolean
scanner_moroxide = false

## Enable LR menu sounds?
# Setting type: Boolean
menu = false

## Enable LR menu theme? (AmbientPackMusic compatible)
# Setting type: Boolean
menu_theme = false

## Enable LR interior ambience sounds?
# Setting type: Boolean
ambience_inside = false

## Enable LR outside ambience sounds?
# Setting type: Boolean
ambience_outside = false

## Enable LR main ambience music? (AmbientPackMusic compatible)
# Setting type: Boolean
ambience_music = false

## Enable LR eclipsed ambience music? (AmbientPackMusic compatible)
# Setting type: Boolean
eclipsed_music = false

## Enable LR baboon sounds?
# Setting type: Boolean
baboon = false

## Enable LR bracken sounds?
# Setting type: Boolean
bracken = false

## Enable LR centipede sounds?
# Setting type: Boolean
centipede = false

## Enable LR circuit bees sounds?
# Setting type: Boolean
circuit_bees = false

## Enable LR coilhead sounds?
# Setting type: Boolean
coilhead = false

## Enable LR earth leviathan sounds?
# Setting type: Boolean
earth_leviathan = false

## Enable LR eyeless dog sounds?
# Setting type: Boolean
eyeless_dog = false

## Enable LR forest keeper sounds?
# Setting type: Boolean
forest_keeper = false

## Enable LR hoarding bug sounds?
# Setting type: Boolean
hoarding_bug = false

## Enable LR jester sounds?
# Setting type: Boolean
jester = false

## Enable LR little girl sounds?
# Setting type: Boolean
little_girl = false

## Enable LR masked sounds?
# Setting type: Boolean
masked = false

## Enable LR nutcracker sounds?
# Setting type: Boolean
nutcracker = false

## Enable LR old bird sounds?
# Setting type: Boolean
old_bird = true

## Enable LR old bird footstep sounds?
# Setting type: Boolean
old_bird_footsteps = true

## Enable LR old bird loudspeaker sounds?
# Setting type: Boolean
old_bird_speaker = true

## Enable LR manticoil sounds?
# Setting type: Boolean
manticoil = false

## Enable LR puffer sounds?
# Setting type: Boolean
puffer = false

## Enable LR spider sounds?
# Setting type: Boolean
spider = false

## Enable LR thumper sounds?
# Setting type: Boolean
thumper = false

## Enable LR player sounds?
# Setting type: Boolean
player = false

## Enable LR player dying sounds?
# Setting type: Boolean
player_death = false

## ((VERY RAM HEAVY)) Enable LR player footstep sounds?
# Setting type: Boolean
footsteps = false

## Enable LR player panic sounds?
# Setting type: Boolean
stress = false

## Enable LR cruiser sounds?
# Setting type: Boolean
cruiser = false

## Enable LR ship sounds?
# Setting type: Boolean
ship = false

## Enable ship door shut alarm?
# Setting type: Boolean
ship_door_alarm = false

## Enable ship ejection alarm?
# Setting type: Boolean
ship_eject_alarm = false

## Enable LR terminal sounds?
# Setting type: Boolean
terminal = false

## Enable LR company sounds?
# Setting type: Boolean
company = false

## Enable LR facility sounds?
# Setting type: Boolean
facility = false

## Enable LR breaker_box sounds?
# Setting type: Boolean
breaker_box = false

## Enable LR common dungeon door sounds?
# Setting type: Boolean
dungeon_doors = false

## Enable LR main door sounds?
# Setting type: Boolean
main_doors = false

## Use old flickering sound?
# Setting type: Boolean
chaos_flicker = false

## Enable LR item sounds?
# Setting type: Boolean
items = false

## Enable LR scrap sounds?
# Setting type: Boolean
scrap = false

## Enable LR turret and mine sounds?
# Setting type: Boolean
turret_and_mines = false

## Enable LR apparatus sounds?
# Setting type: Boolean
apparatus = false
