## Settings file was created by plugin JPOGTrex v1.1.6
## Plugin GUID: JPOGTrex

[Behavior]

## The default speed of the T-Rex. Increasing the default speed will also increase the chasing speed e.g. default speed * 2 = chasing speed
# Setting type: Single
# Default value: 6
Default speed = 6

## Increasing this number will make the T-Rex detect players further away.
# Setting type: Int32
# Default value: 70
Vision Range length = 70

## Increasing this number will broaden the width of the T-Rex's vision. 
## WARNING: increasing this value too much can result in the T-rex being able to look behind itself.
# Setting type: Int32
# Default value: 60
Vision Range Width = 60

## The max level/amount of suspicion the T-Rex needs before initiating a chase
# Setting type: Int32
# Default value: 100
Max Suspicion Level = 100

## The amount by which the suspicion is increased when the T-Rex sees a player moving
# Setting type: Int32
# Default value: 10
Suspicion Increment Amount = 10

## The amount by which the suspicion is decreased when the T-Rex doesn't see players moving.
# Setting type: Int32
# Default value: 5
Suspicion Decrement Amount = 5

## Time in seconds. The interval between decreasing suspicion.
## e.g. 4 means the suspicion will go down by the set amount every 4 seconds since the T-Rex last spotted a player moving.
# Setting type: Single
# Default value: 4
Suspicion Decrease Time = 4

