## Settings file was created by plugin Quota Rollover Tweaks v1.0.2
## Plugin GUID: 33mamaster.QuotaRolloverTweaks

[Death Penalty]

## Sets your fulfilled quota to 0 when all players are dead. Much like when you die and lose all scrap in the ship.
# Setting type: Boolean
# Default value: true
RemoveFulfilledQuotaOnDeath = false

[Overtime Bonus]

## Only consider newly added scrap this quota towards the overtime bonus. Basically removes rollovered quota from the overtime bonus calculation.
# Setting type: Boolean
# Default value: true
OnlyConsiderCurrentQuotasScrap = true

## Disables Overtime bonus by reducing it to 0.
# Setting type: Boolean
# Default value: false
RemoveOvertimeBonus = false

