## Settings file was created by plugin EnemySkinRegistry v1.4.6
## Plugin GUID: antlershed.lethalcompany.enemyskinregistry

[Indoor and Outdoor Configuration]

## Set this flag to show additional controls for configuring indoor and outdoor spawn frequencies separately. Only relevant if you have a mod that allows enemies to spawn both inside and outside.
# Setting type: Boolean
# Default value: false
IndoorOutdoor = false

[KnownMoons]

41 Experimentation = false

220 Assurance = false

56 Vow = false

21 Offense = false

61 March = false

85 Rend = false

7 Dine = false

8 Titan = false

20 Adamance = false

68 Artifice = false

5 Embrion = false

[KnownSkins]

Butler.Brown = true

Butler.Gray = true

Butler.Blue = true

Butler.Orange = true

Butler.Red = true

Dog.Red = true

Dog.Brown = true

Dog.Black = true

Dog.White = true

Giant.Red = true

Giant.Green = true

Giant.White = true

Giant.Yellow = true

Girl.Yellow = true

Girl.Purple = true

Girl.Blue = true

Girl.Pink = true

Girl.White = true

Hoarder.White = true

Hoarder.Blue = true

Hoarder.Orange = true

Hoarder.Purple = true

Jester.Blue = true

Jester.Red = true

Jester.Brown = true

Jester.Green = true

Nut.Green = true

Nut.Yellow = true

Nut.Blue = true

Nut.Purple = true

Nut.Gray = true

Nut.Olive = true

Old.Green = true

Old.Black = true

Old.White = true

Old.Marine = false

Old.Blue = true

Spider.Gray = true

Spider.Brown = true

Spider.Yellow = true

Spider.Red = true

Thumper.Gray = true

Thumper.Red = true

Thumper.Blue = true

Thumper.Yellow = true

Worm.Pink = true

Worm.Red = true

Worm.White = true

Worm.Green = true

Worm.Sand = true

Brack.Orange = true

Brack.Black = true

Brack.Blue = true

Brack.Green = true

Brack.Purple = true

Spring.Peach = false

Spring.White = false

Coil.Green = true

Spring.Yellow = false

Coil.Gray = true

Hawk.Brown = true

Hawk.Olive = true

Hawk.Green = true

Hawk.Teal = true

Spore.Green = true

Spore.Pink = true

Spore.Teal = true

Spore.White = true

Cen.Gray = true

Cen.Brown = false

Cen.Green = true

Cen.Red = true

[Logging]

## Controls which types of debug messages are being printed. Might help get you useful info if you run into trouble.
# Setting type: LogLevel
# Default value: ERROR
# Acceptable values: NONE, ERROR, WARN, INFO
LogLevel = ERROR

[Profile Sync]

## Set this flag to attempt to sync profiles with the host when running on a client.
# Setting type: Boolean
# Default value: false
AttemptSync = false

## Set this flag to allow clients to copy your working profile when you're hosting.
# Setting type: Boolean
# Default value: true
AllowSync = true

[SkinConfig]

LethalCompany.GhostGirl = {\"enemyId\":\"LethalCompany.GhostGirl\",\"activeSkins\":[\"Girl.Yellow\",\"Girl.Purple\",\"Girl.Blue\",\"Girl.Pink\",\"Girl.White\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Girl.Blue\",\"frequency\":0.5},{\"skinId\":\"Girl.Pink\",\"frequency\":0.5},{\"skinId\":\"Girl.Purple\",\"frequency\":0.5},{\"skinId\":\"Girl.White\",\"frequency\":0.25},{\"skinId\":\"Girl.Yellow\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.Thumper = {\"enemyId\":\"LethalCompany.Thumper\",\"activeSkins\":[\"Thumper.Gray\",\"Thumper.Red\",\"Thumper.Blue\",\"Thumper.Yellow\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Thumper.Blue\",\"frequency\":0.5},{\"skinId\":\"Thumper.Gray\",\"frequency\":0.5},{\"skinId\":\"Thumper.Red\",\"frequency\":0.5},{\"skinId\":\"Thumper.Yellow\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.HoarderBug = {\"enemyId\":\"LethalCompany.HoarderBug\",\"activeSkins\":[\"Hoarder.White\",\"Hoarder.Blue\",\"Hoarder.Orange\",\"Hoarder.Purple\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Hoarder.Blue\",\"frequency\":0.5},{\"skinId\":\"Hoarder.Orange\",\"frequency\":0.5},{\"skinId\":\"Hoarder.Purple\",\"frequency\":0.5},{\"skinId\":\"Hoarder.White\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.Nutcracker = {\"enemyId\":\"LethalCompany.Nutcracker\",\"activeSkins\":[\"Nut.Green\",\"Nut.Yellow\",\"Nut.Blue\",\"Nut.Purple\",\"Nut.Gray\",\"Nut.Olive\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Nut.Blue\",\"frequency\":0.25},{\"skinId\":\"Nut.Gray\",\"frequency\":0.25},{\"skinId\":\"Nut.Green\",\"frequency\":0.5},{\"skinId\":\"Nut.Olive\",\"frequency\":0.25},{\"skinId\":\"Nut.Purple\",\"frequency\":0.5},{\"skinId\":\"Nut.Yellow\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.Jester = {\"enemyId\":\"LethalCompany.Jester\",\"activeSkins\":[\"Jester.Blue\",\"Jester.Red\",\"Jester.Brown\",\"Jester.Green\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Jester.Blue\",\"frequency\":0.5},{\"skinId\":\"Jester.Brown\",\"frequency\":0.5},{\"skinId\":\"Jester.Green\",\"frequency\":0.5},{\"skinId\":\"Jester.Red\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.BunkerSpider = {\"enemyId\":\"LethalCompany.BunkerSpider\",\"activeSkins\":[\"Spider.Gray\",\"Spider.Brown\",\"Spider.Yellow\",\"Spider.Red\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Spider.Brown\",\"frequency\":0.5},{\"skinId\":\"Spider.Gray\",\"frequency\":0.5},{\"skinId\":\"Spider.Red\",\"frequency\":0.5},{\"skinId\":\"Spider.Yellow\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.Hygrodere = {\"enemyId\":\"LethalCompany.Hygrodere\",\"activeSkins\":[],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[]},\"mapConfigurations\":[]}

LethalCompany.Coilhead = {\"enemyId\":\"LethalCompany.Coilhead\",\"activeSkins\":[\"Spring.Peach\",\"Spring.White\",\"Coil.Green\",\"Spring.Yellow\",\"Coil.Gray\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Coil.Gray\",\"frequency\":0.5},{\"skinId\":\"Coil.Green\",\"frequency\":0.5},{\"skinId\":\"Spring.Peach\",\"frequency\":1.0},{\"skinId\":\"Spring.White\",\"frequency\":1.0},{\"skinId\":\"Spring.Yellow\",\"frequency\":1.0}]},\"mapConfigurations\":[]}

LethalCompany.SnareFlea = {\"enemyId\":\"LethalCompany.SnareFlea\",\"activeSkins\":[\"Cen.Gray\",\"Cen.Brown\",\"Cen.Green\",\"Cen.Red\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Cen.Brown\",\"frequency\":1.0},{\"skinId\":\"Cen.Gray\",\"frequency\":0.5},{\"skinId\":\"Cen.Green\",\"frequency\":0.5},{\"skinId\":\"Cen.Red\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.SporeLizard = {\"enemyId\":\"LethalCompany.SporeLizard\",\"activeSkins\":[\"Spore.Green\",\"Spore.Pink\",\"Spore.Teal\",\"Spore.White\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Spore.Green\",\"frequency\":0.5},{\"skinId\":\"Spore.Pink\",\"frequency\":0.5},{\"skinId\":\"Spore.Teal\",\"frequency\":0.5},{\"skinId\":\"Spore.White\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.Bracken = {\"enemyId\":\"LethalCompany.Bracken\",\"activeSkins\":[\"Brack.Orange\",\"Brack.Black\",\"Brack.Blue\",\"Brack.Green\",\"Brack.Purple\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Brack.Black\",\"frequency\":0.5},{\"skinId\":\"Brack.Blue\",\"frequency\":0.5},{\"skinId\":\"Brack.Green\",\"frequency\":0.5},{\"skinId\":\"Brack.Orange\",\"frequency\":0.5},{\"skinId\":\"Brack.Purple\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.EyelessDog = {\"enemyId\":\"LethalCompany.EyelessDog\",\"activeSkins\":[\"Dog.Red\",\"Dog.Brown\",\"Dog.Black\",\"Dog.White\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Dog.Black\",\"frequency\":0.5},{\"skinId\":\"Dog.Brown\",\"frequency\":0.5},{\"skinId\":\"Dog.Red\",\"frequency\":0.5},{\"skinId\":\"Dog.White\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.BaboonHawk = {\"enemyId\":\"LethalCompany.BaboonHawk\",\"activeSkins\":[\"Hawk.Brown\",\"Hawk.Olive\",\"Hawk.Green\",\"Hawk.Teal\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Hawk.Brown\",\"frequency\":0.5},{\"skinId\":\"Hawk.Green\",\"frequency\":0.5},{\"skinId\":\"Hawk.Olive\",\"frequency\":0.5},{\"skinId\":\"Hawk.Teal\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.ForestKeeper = {\"enemyId\":\"LethalCompany.ForestKeeper\",\"activeSkins\":[\"Giant.Red\",\"Giant.Green\",\"Giant.White\",\"Giant.Yellow\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Giant.Green\",\"frequency\":0.5},{\"skinId\":\"Giant.Red\",\"frequency\":0.5},{\"skinId\":\"Giant.White\",\"frequency\":0.5},{\"skinId\":\"Giant.Yellow\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.EarthLeviathan = {\"enemyId\":\"LethalCompany.EarthLeviathan\",\"activeSkins\":[\"Worm.Pink\",\"Worm.Red\",\"Worm.White\",\"Worm.Green\",\"Worm.Sand\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Worm.Green\",\"frequency\":0.5},{\"skinId\":\"Worm.Pink\",\"frequency\":0.5},{\"skinId\":\"Worm.Red\",\"frequency\":0.5},{\"skinId\":\"Worm.Sand\",\"frequency\":0.25},{\"skinId\":\"Worm.White\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.OldBird = {\"enemyId\":\"LethalCompany.OldBird\",\"activeSkins\":[\"Old.Green\",\"Old.Black\",\"Old.White\",\"Old.Marine\",\"Old.Blue\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Old.Black\",\"frequency\":0.5},{\"skinId\":\"Old.Blue\",\"frequency\":0.5},{\"skinId\":\"Old.Green\",\"frequency\":0.25},{\"skinId\":\"Old.Marine\",\"frequency\":1.0},{\"skinId\":\"Old.White\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

LethalCompany.Butler = {\"enemyId\":\"LethalCompany.Butler\",\"activeSkins\":[\"Butler.Brown\",\"Butler.Gray\",\"Butler.Blue\",\"Butler.Orange\",\"Butler.Red\"],\"defaultConfiguration\":{\"mapId\":\"\",\"vanillaFrequency\":0.0,\"skinDistribution\":[{\"skinId\":\"Butler.Blue\",\"frequency\":0.5},{\"skinId\":\"Butler.Brown\",\"frequency\":0.5},{\"skinId\":\"Butler.Gray\",\"frequency\":0.5},{\"skinId\":\"Butler.Orange\",\"frequency\":0.5},{\"skinId\":\"Butler.Red\",\"frequency\":0.5}]},\"mapConfigurations\":[]}

