## Settings file was created by plugin Revive Crewmates v1.0.0
## Plugin GUID: com.deja.lethalcompany.lethalCompanyRevive

[Costs]

## Base cost used in the revive formula.
# Setting type: Int32
# Default value: 100
BaseReviveCost = 100

## How the revive cost is calculated: Flat, Exponential, or Quota
# Setting type: String
# Default value: Quota
ReviveCostAlgorithm = Quota

[General]

## Enable or disable the entire revive feature.
# Setting type: Boolean
# Default value: true
EnableRevive = true

[Limits]

## If true, limits how many revives can happen each real-life day.
# Setting type: Boolean
# Default value: false
EnableMaxRevivesPerDay = false

## Max revives allowed per day (if EnableMaxRevivesPerDay is true).
# Setting type: Int32
# Default value: 3
MaxRevivesPerDay = 3

