## Settings file was created by plugin NoPenaltyOnGordion v1.1.0
## Plugin GUID: com.doudgeorges.NoPenaltyOnGordion

[General]

## Text displayed in the penalty HUD
# Setting type: String
# Default value: (No penalty from deaths on the Company moon)
PenaltyText = (No penalty from deaths on the Company moon)

