## Settings file was created by plugin ComicalCompany v1.0.0
## Plugin GUID: comicalteam.ComicalCompany

[General]

## It's celebration time
# Setting type: Boolean
# Default value: true
EasterApparatus = true

## So it doesn't get boring inside
# Setting type: Boolean
# Default value: true
BackgroundMusic = true

## To hydrate the eye
# Setting type: Boolean
# Default value: true
Blinking = true

## Why is everything so big?? now it's fixed
# Setting type: Boolean
# Default value: true
RealisticEnemies = true

## Ouch this hurts
# Setting type: Boolean
# Default value: true
Gravity = true

## This isn't yours to sell?? wtf
# Setting type: Boolean
# Default value: true
GovernmentProperty = true

## Green
# Setting type: Boolean
# Default value: true
Green = true

## bzzzzzzzzzzzt
# Setting type: Boolean
# Default value: true
Electricity = true

## Fixes the error in the language of the Lethal COmpany
# Setting type: Boolean
# Default value: true
Translation = true

## It's all a joke...
# Setting type: Boolean
# Default value: true
Jest = true

## Sometimes, you just can't, you know?
# Setting type: Boolean
# Default value: true
RealisticJumping = true

## It does what it says on the tin
# Setting type: Boolean
# Default value: true
LongerLadders = true

## Goodbye
# Setting type: Boolean
# Default value: true
BetterLandmines = true

## Occasionally, the door buttons won't work. This fix applies in those situations.
# Setting type: Boolean
# Default value: true
FixDoorButton = true

## It's not called SLOWSAND is it?????
# Setting type: Boolean
# Default value: true
BetterQuicksand = true

## M'aiq wishes you well.
# Setting type: Boolean
# Default value: true
Skooma = true

## It can get really stuffy in there
# Setting type: Boolean
# Default value: true
FreshAirInShip = true

## Wait, that wasn't the lights!
# Setting type: Boolean
# Default value: true
SwitchSwitches = true

## It is nice to be visited by a good friend
# Setting type: Boolean
# Default value: false
Friends = false

## To increase work efficiency (we live in a capitalism society)
# Setting type: Boolean
# Default value: true
Inspiration = true

## It's like a whole new map every time!
# Setting type: Boolean
# Default value: true
Terraforming = true

[Generaler]

## Even when it's not April 1st :)
# Setting type: Boolean
# Default value: false
AlwaysEnable = false

