## Settings file was created by plugin LethalMon v1.0.0
## Plugin GUID: LethalMon

[Behaviours]

## Distance till which enemies can be seen through walls.
# Setting type: Single
# Default value: 20
MaskedEffectDistance = 20

## Maximum amount of items a tamed blob can carry.
# Setting type: Int32
# Default value: 4
BlobMaxItems = 4

[Controls]

## Key for retrieving the tamed enemy inside its ball. Requires a restart after changing.
# Setting type: String
# Default value: <Keyboard>/P
RetrieveBallKeyKeyboard = <Keyboard>/P

## Gamepad key for retrieving the tamed enemy inside its ball. Requires a restart after changing.
# Setting type: String
# Default value: <Gamepad>/RightStickPress
RetrieveBallKeyGamepad = <Gamepad>/RightStickPress

## Key for the first custom action on a tamed enemy. Requires a restart after changing.
# Setting type: String
# Default value: <Keyboard>/B
ActionKey1Keyboard = <Keyboard>/B

## Gamepad key for the first custom action on a tamed enemy. Requires a restart after changing.
# Setting type: String
# Default value: <Gamepad>/RightShoulder
ActionKey1Gamepad = <Gamepad>/RightShoulder

[Cooldowns]

## Grab cooldown time in seconds for the bracken
# Setting type: Single
# Default value: 20
BrackenGrabCooldown = 10

## Teleport cooldown time in seconds for the dress girl
# Setting type: Single
# Default value: 60
DressGirlTeleportCooldown = 10

## Bring item cooldown time in seconds for the hoarder bug
# Setting type: Single
# Default value: 5
HoardingBugBringItemCooldown = 5

## Tongue hit cooldown time in seconds for the fox
# Setting type: Single
# Default value: 5
FoxTongueHitCooldown = 5

## Howl cooldown time in seconds for the eyeless dog
# Setting type: Single
# Default value: 5
EyelessDogHowlCooldown = 5

## Mask lending cooldown time in seconds for the masked
# Setting type: Single
# Default value: 7
MaskedLendCooldown = 7

## Stunning cooldown time in seconds for the bees
# Setting type: Single
# Default value: 10
BeesStunCooldown = 10

## Web shooting cooldown time in seconds for the spider
# Setting type: Single
# Default value: 8
SpiderWebCooldown = 8

## Cutting wall cooldown time in seconds for the barber
# Setting type: Single
# Default value: 30
BarberCutWallCooldown = 30

[Items]

## The cost of the tier 1 ball (pokeball) item in the shop. -1 to disable
# Setting type: Int32
# Default value: 40
Tier1BallCost = 20

## The cost of the tier 1 ball (great ball) item in the shop. -1 to disable
# Setting type: Int32
# Default value: 125
Tier2BallCost = 72

## The cost of the tier 1 ball (ultra ball) item in the shop. -1 to disable
# Setting type: Int32
# Default value: 375
Tier3BallCost = 187

## The cost of the tier 1 ball (master ball) item in the shop. -1 to disable
# Setting type: Int32
# Default value: 700
Tier4BallCost = 350

## The spawn weight of the tier 1 ball (pokeball). Higher = more common
# Setting type: Int32
# Default value: 20
Tier1BallSpawnWeight = 40

## The spawn weight of the tier 2 ball (great ball). Higher = more common
# Setting type: Int32
# Default value: 10
Tier2BallSpawnWeight = 40

## The spawn weight of the tier 3 ball (ultra ball). Higher = more common
# Setting type: Int32
# Default value: 6
Tier3BallSpawnWeight = 40

## The spawn weight of the tier 4 ball (master ball). Higher = more common
# Setting type: Int32
# Default value: 2
Tier4BallSpawnWeight = 40

## Make the balls don't despawn even if all the players are dead.
# Setting type: KeepBalls
# Default value: No
# Acceptable values: No, FullOnly, Yes
KeepBallsIfAllPlayersDead = No

## Percentage of filled balls in the dungeon
# Setting type: Single
# Default value: 0.5
FilledBallsPercentage = 0.5

## Lower enemy HP increases the capture probability. Set this to 0 to disable this feature
# Setting type: Single
# Default value: 1
EnemyHPCaptureProbabilityMultiplier = 0

[Monsters]

## Disabled monsters types. Separate with a comma and don't put spaces. Example: Monster1,Monster2. Available monsters: BaboonHawk, Blob, BushWolf, Butler, ButlerBees, CaveDweller, Centipede, ClaySurgeon, Crawler, DocileLocustBees, Doublewing, FlowerSnake, RedLocustBees, DressGirl, Flowerman, ForestGiant, HoarderBug, Jester, LassoMan, MaskedPlayerEnemy, MouthDog, Nutcracker, Puffer, RadMech, RedPillEnemyType, SandSpider, SandWorm, SpringMan
# Setting type: String
# Default value: 
DisabledMonsters = 

## Make the monsters react aggressively if a capture fails
# Setting type: Boolean
# Default value: true
MonstersReactToFailedCaptures = true

## Modifier for the capture rate. Each monster have a difficulty to catch between 1 and 10. You can modify all the monsters difficulty by adding this modifier to the base difficulty. Negative = easier to catch, positive = harder to catch
# Setting type: Int32
# Default value: 0
# Acceptable value range: From -10 to 10
CaptureRateModifier = 0

## Font size of the text above tamed monsters, that shows the owner. Set this to 0 to disable the text.
# Setting type: Single
# Default value: 10
# Acceptable value range: From 0 to 20
TamedNameFontSize = 10

## Prices for duplicating a monster. The first value is the price for a monster with a difficulty of 1, the second value for a monster with a difficulty of 2, etc. 10 difficulties in total
# Setting type: String
# Default value: 30,70,120,180,250,330,420,520,630,750
DuplicationPrices = 30,70,120,180,250,330,420,520,630,750

[Saves]

## Make the PC saves global (true) or per save file (false)
# Setting type: Boolean
# Default value: true
PcGlobalSave = true

