## Settings file was created by plugin LiminalPoolRooms v1.0.14
## Plugin GUID: LiminalPoolRooms

[Liminal Pools Interior]

## Whether or not reflections on the floor are enabled (Set false for best performance). 
## Default value: true
## Acceptable value: false, true
# Setting type: Boolean
# Default value: false
# Acceptable values: False, True
Floor Reflection Enabled = false

## Whether or not reflections on the water are enabled (Set false for best performance). 
## Default value: true
## Acceptable value: false, true
# Setting type: Boolean
# Default value: true
# Acceptable values: False, True
Water Reflection Enabled = true

## Decides whether or not kill triggers are enabled.
##  Default value: false
## Acceptable values: false, true
# Setting type: Boolean
# Default value: false
# Acceptable values: False, True
Kill triggers Enabled = false

## Settings for the One Way Fire Exit.
## Default value: Enabled
## Acceptable values: Disabled, Enabled, Guaranteed, Lowered
## Multiple options can be selected by separating options with a ',' e.g(Enabled, Guaranteed, Lowered)
# Setting type: FireEnabler
# Default value: Enabled
# Acceptable values: Disabled, Enabled, Guaranteed, Lowered
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
One Way Fire Exit = Enabled

