[Enemies]

# Setting type: Boolean
# Default value: false
Red pill = false

# Setting type: Boolean
# Default value: false
Flowerman = true

# Setting type: Boolean
# Default value: false
Centipede = true

# Setting type: Boolean
# Default value: false
MouthDog = true

# Setting type: Boolean
# Default value: false
Crawler = false

# Setting type: Boolean
# Default value: false
Hoarding bug = true

# Setting type: Boolean
# Default value: false
Bunker Spider = true

# Setting type: Boolean
# Default value: false
Blob = false

# Setting type: Boolean
# Default value: false
ForestGiant = false

# Setting type: Boolean
# Default value: false
Girl = false

# Setting type: Boolean
# Default value: false
Lasso = false

# Setting type: Boolean
# Default value: false
Spring = true

# Setting type: Boolean
# Default value: false
Earth Leviathan = false

# Setting type: Boolean
# Default value: false
Jester = false

# Setting type: Boolean
# Default value: false
Puffer = true

# Setting type: Boolean
# Default value: false
Manticoil = false

# Setting type: Boolean
# Default value: false
Docile Locust Bees = false

# Setting type: Boolean
# Default value: false
Red Locust Bees = false

# Setting type: Boolean
# Default value: false
Baboon hawk = true

# Setting type: Boolean
# Default value: false
Nutcracker = false

# Setting type: Boolean
# Default value: true
Masked = true

# Setting type: Boolean
# Default value: false
RadMech = false

# Setting type: Boolean
# Default value: false
Butler = false

# Setting type: Boolean
# Default value: false
Butler Bees = false

# Setting type: Boolean
# Default value: false
Tulip Snake = false

# Setting type: Boolean
# Default value: false
Clay Surgeon = true

# Setting type: Boolean
# Default value: false
Maneater = false

# Setting type: Boolean
# Default value: false
GiantKiwi = false

# Setting type: Boolean
# Default value: false
Barnacle = false

# Setting type: Boolean
# Default value: false
Mannequin = false

# Setting type: Boolean
# Default value: false
Headless Mannequin = false

# Setting type: Boolean
# Default value: false
Broken Mannequin = false

# Setting type: Boolean
# Default value: false
Arachnohead = false

# Setting type: Boolean
# Default value: false
Corpse Crawler = false

# Setting type: Boolean
# Default value: false
Creaker = false

# Setting type: Boolean
# Default value: false
Dark Spring = false

# Setting type: Boolean
# Default value: false
Elder = false

# Setting type: Boolean
# Default value: false
Floating head = false

# Setting type: Boolean
# Default value: false
Emma = false

# Setting type: Boolean
# Default value: false
Snatcher = false

# Setting type: Boolean
# Default value: false
NutSlayer = false

# Setting type: Boolean
# Default value: false
Kamikazie Bug = false

# Setting type: Boolean
# Default value: false
RollingGiant = true

# Setting type: Boolean
# Default value: false
Pikmin = false

# Setting type: Boolean
# Default value: false
Puffmin = false

# Setting type: Boolean
# Default value: false
Siren Head = false

# Setting type: Boolean
# Default value: false
Locker = false

# Setting type: Boolean
# Default value: false
Boomba = false

# Setting type: Boolean
# Default value: false
Raptor = false

# Setting type: Boolean
# Default value: false
T-rex = false

# Setting type: Boolean
# Default value: false
Miss Delight = false

# Setting type: Boolean
# Default value: false
Huggy Wuggy = false

# Setting type: Boolean
# Default value: false
Dogday = true

# Setting type: Boolean
# Default value: false
Boxy Boo = false

# Setting type: Boolean
# Default value: false
Bobby Critter = true

# Setting type: Boolean
# Default value: false
Catnap Critter = true

# Setting type: Boolean
# Default value: false
Bubba Critter = true

# Setting type: Boolean
# Default value: false
Crafty Critter = true

# Setting type: Boolean
# Default value: false
Dogday Critter = true

# Setting type: Boolean
# Default value: false
Hoppy Critter = true

# Setting type: Boolean
# Default value: false
Kickin Critter = true

# Setting type: Boolean
# Default value: false
Picky Critter = true

# Setting type: Boolean
# Default value: false
Shy guy = false

# Setting type: Boolean
# Default value: false
CountryRoadCreature = true

# Setting type: Boolean
# Default value: false
Cactus Budling = false

# Setting type: Boolean
# Default value: false
Rabbit Magician = false

# Setting type: Boolean
# Default value: false
Peace Keeper = false

# Setting type: Boolean
# Default value: false
Lord Of The Manor = false

# Setting type: Boolean
# Default value: false
Janitor = false

# Setting type: Boolean
# Default value: false
Driftwood Menace = false

# Setting type: Boolean
# Default value: false
Nancy = false

# Setting type: Boolean
# Default value: false
CutieFly = false

# Setting type: Boolean
# Default value: false
Monarch = false

# Setting type: Boolean
# Default value: false
Mistress = false

# Setting type: Boolean
# Default value: false
Redwood Titan = false

# Setting type: Boolean
# Default value: false
Carnivorous Plant = false

# Setting type: Boolean
# Default value: false
Real Enemy SnailCat = false

# Setting type: Boolean
# Default value: false
Duck = false

# Setting type: Boolean
# Default value: false
Transporter = false

# Setting type: Boolean
# Default value: false
Guardsman = false

# Setting type: Boolean
# Default value: false
FireStorm = false

# Setting type: Boolean
# Default value: false
Hurricane = false

# Setting type: Boolean
# Default value: false
Tornado = false

Maggie = false

Crystal Ray = false

RedWoodGiant = false

DriftWoodGiant = false

Ogopogo = false

Vermin = false

Boom bird = false

Leaf boy = false

Prototax = false

Coil Crab = false

Aloe = false

Baboon duck = false

WaxSoldier = true

