## Settings file was created by plugin LethalMonReservedSlot v1.0.0
## Plugin GUID: Niro.LethalMonReservedSlot

[General]

## Cost of unlocking this slot (0 = unlocked at start).
# Setting type: Int32
# Default value: 50
UnlockPrice = 50

## Priority for this item slot relative to other item slots.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 0 to 100
SlotPriority = 20

## Defines where the player holds the ball from other players point of view. (Restart required for now)
# Setting type: PlayerBone
# Default value: RightShoulder
# Acceptable values: None, Hips, Spine1, Spine2, Spine3, Neck, Head, LeftShoulder, LeftArmUpper, LeftArmLower, LeftHand, RightShoulder, RightArmUpper, RightArmLower, RightHand, LeftThigh, LeftCalf, LeftFoot, LeftHeel, LeftToe, RightThigh, RightCalf, RightFoot, RightHeel, RightToe
AttachTo = RightShoulder

