## Settings file was created by plugin BigPP v2.3.0
## Plugin GUID: PDK.LethalCompany.CustomFatPP

[General]

## Key for showing menu https://cherrytree.at/misc/vk.htm
# Setting type: Int32
# Default value: 161
VK_Toggle = 101

## Key for showing cursor https://cherrytree.at/misc/vk.htm
# Setting type: Int32
# Default value: 164
VK_Cursor = 162

[Menu Settings]

## The x location where this menu will appear
# Setting type: Int32
# Default value: 0
MainMenuXConfigEntry = 0

## The y location where this menu will appear
# Setting type: Int32
# Default value: 10
MainMenuYConfigEntry = 10

## The x location where this menu will appear
# Setting type: Int32
# Default value: 200
WorldXConfigEntry = 200

## The y location where this menu will appear
# Setting type: Int32
# Default value: 10
WorldYConfigEntry = 10

## The x location where this menu will appear
# Setting type: Int32
# Default value: 200
CompanyXConfigEntry = 200

## The y location where this menu will appear
# Setting type: Int32
# Default value: 10
CompanyYConfigEntry = 10

## The x location where this menu will appear
# Setting type: Int32
# Default value: 200
PlayerXConfigEntry = 200

## The y location where this menu will appear
# Setting type: Int32
# Default value: 10
PlayerYConfigEntry = 10

## The x location where this menu will appear
# Setting type: Int32
# Default value: 200
HostXConfigEntry = 200

## The y location where this menu will appear
# Setting type: Int32
# Default value: 10
HostYConfigEntry = 10

## The x location where this menu will appear
# Setting type: Int32
# Default value: 200
DungeonXConfigEntry = 200

## The y location where this menu will appear
# Setting type: Int32
# Default value: 10
DungeonYConfigEntry = 10

## The Color and alpha Of the menu
# Setting type: Vector4
# Default value: {"x":1.0,"y":1.0,"z":1.0,"w":1.0}
Menu RGBA = {"x":1.0,"y":1.0,"z":1.0,"w":1.0}

## The Color and alpha Of the menu
# Setting type: Vector4
# Default value: {"x":1.0,"y":1.0,"z":1.0,"w":1.0}
Menu Text RGBA = {"x":1.0,"y":1.0,"z":1.0,"w":1.0}

[Settings]

## Display controls for items in top left
# Setting type: Boolean
# Default value: false
DisableToolTips = false

## Alway enable night vision
# Setting type: Boolean
# Default value: false
Enable night vision = false

## Alway enable GodMode
# Setting type: Boolean
# Default value: true
Allow Local Player death = true

## Alway enable inf ammo
# Setting type: Boolean
# Default value: false
Enable Inf ammo = false

## Alway enable inf sprint
# Setting type: Boolean
# Default value: false
Enable Inf sprint = false

## Alway enable inf battery
# Setting type: Boolean
# Default value: false
Enable Inf battery = false

## How far you can grab objects
# Setting type: Single
# Default value: 5
GrabDistance = 5

