## Settings file was created by plugin ReservedPeeperSlot v1.0.5
## Plugin GUID: snacksbr.lethalcompany.reservedpeeperslot

[ReservedPeeperSlot]

## Keybind to drop the Peeper on the ground. (will be ignored if InputUtils is present)
# Setting type: String
# Default value: <Keyboard>/t
DropPeeperKey = <Keyboard>/t

## Enable the keybind drop the Peeper.
# Setting type: Boolean
# Default value: true
DeployPeeper = true

## Price for the Peeper Slot. If set to 0 the slot will unlock automatically
# Setting type: Int32
# Default value: 0
PeeperPrice = 0

