## Settings file was created by plugin SpectateEnemy v2.6.0
## Plugin GUID: SpectateEnemy

[Config]

## Hides the controls toolip on the right hand side.
# Setting type: Boolean
# Default value: false
Hide Controls = false

[Enemies]

## Enables spectating SoulDev
# Setting type: Boolean
# Default value: true
SoulDev = true

## Enables spectating WalkerType
# Setting type: Boolean
# Default value: true
WalkerType = true

## Enables spectating SkullEnemy
# Setting type: Boolean
# Default value: true
SkullEnemy = true

## Enables spectating MoaiPurple
# Setting type: Boolean
# Default value: true
MoaiPurple = true

## Enables spectating MoaiGold
# Setting type: Boolean
# Default value: true
MoaiGold = true

## Enables spectating MoaiGreen
# Setting type: Boolean
# Default value: true
MoaiGreen = true

## Enables spectating MoaiRed
# Setting type: Boolean
# Default value: true
MoaiRed = true

## Enables spectating MoaiBlue
# Setting type: Boolean
# Default value: true
MoaiBlue = true

## Enables spectating MoaiEnemy
# Setting type: Boolean
# Default value: true
MoaiEnemy = true

## Enables spectating DriftwoodGiantObj
# Setting type: Boolean
# Default value: true
DriftwoodGiantObj = true

## Enables spectating PinkGiantObj
# Setting type: Boolean
# Default value: true
PinkGiantObj = true

## Enables spectating TheFiend
# Setting type: Boolean
# Default value: true
TheFiend = true

## Enables spectating SlendermanEnemy
# Setting type: Boolean
# Default value: true
SlendermanEnemy = true

## Enables spectating Herobrine
# Setting type: Boolean
# Default value: true
Herobrine = true

## Enables spectating SCP682ET
# Setting type: Boolean
# Default value: true
SCP682ET = true

## Enables spectating SCP939
# Setting type: Boolean
# Default value: true
SCP939 = true

## Enables spectating Gallenarma
# Setting type: Boolean
# Default value: true
Gallenarma = true

## Enables spectating EyeSecurity
# Setting type: Boolean
# Default value: true
EyeSecurity = true

## Enables spectating AdultWanderer
# Setting type: Boolean
# Default value: true
AdultWanderer = true

## Enables spectating Wanderer
# Setting type: Boolean
# Default value: true
Wanderer = true

## Enables spectating LeafBoiEnemyType
# Setting type: Boolean
# Default value: true
LeafBoiEnemyType = true

## Enables spectating LightEaterEnemy
# Setting type: Boolean
# Default value: true
LightEaterEnemy = true

## Enables spectating BellCrabAsset
# Setting type: Boolean
# Default value: true
BellCrabAsset = true

## Enables spectating Foxy
# Setting type: Boolean
# Default value: true
Foxy = true

## Enables spectating menstalker_type
# Setting type: Boolean
# Default value: true
menstalker_type = true

## Enables spectating ShibaEnemy
# Setting type: Boolean
# Default value: true
ShibaEnemy = true

## Enables spectating Baldi
# Setting type: Boolean
# Default value: true
Baldi = true

## Enables spectating Football
# Setting type: Boolean
# Default value: true
Football = true

## Enables spectating ShrimpEnemy
# Setting type: Boolean
# Default value: true
ShrimpEnemy = true

## Enables spectating DroneEnemy
# Setting type: Boolean
# Default value: true
DroneEnemy = true

## Enables spectating PeeperType
# Setting type: Boolean
# Default value: true
PeeperType = true

## Enables spectating ImmortalSnail.EnemyType
# Setting type: Boolean
# Default value: true
ImmortalSnail.EnemyType = true

## Enables spectating Cleaner
# Setting type: Boolean
# Default value: true
Cleaner = true

## Enables spectating NemoAsset
# Setting type: Boolean
# Default value: true
NemoAsset = true

## Enables spectating WalkerTurret
# Setting type: Boolean
# Default value: true
WalkerTurret = true

Siren Head = true

Locker = true

Maggie = true

Boomba = true

Crystal Ray = true

RollingGiant = true

Huggy Wuggy = true

Boxy Boo = true

Dogday = true

Miss Delight = true

Dogday Critter = true

Picky Critter = true

Catnap Critter = true

Bobby Critter = true

Crafty Critter = true

Hoppy Critter = true

Bubba Critter = true

Kickin Critter = true

Shy guy = true

DriftWoodGiant = true

RedWoodGiant = true

CountryRoadCreature = true

RadMech = true

Butler Bees = true

Baboon hawk = true

Baboon duck = true

Masked = true

Blob = true

Butler = true

Maneater = true

Centipede = true

Clay Surgeon = true

Crawler = true

Docile Locust Bees = false

Manticoil = false

Tulip Snake = false

Red Locust Bees = false

Girl = true

Flowerman = true

ForestGiant = true

Hoarding bug = true

Jester = true

MouthDog = true

Nutcracker = true

Puffer = true

Bunker Spider = true

Earth Leviathan = true

Spring = true

Vermin = true

Ogopogo = false

Boom bird = false

Leaf boy = true

Prototax = true

Coil Crab = false

Aloe = true

Bush Wolf = true

Landmine = false

Turret = false

Barnacle = true

NutSlayer = true

Kamikazie Bug = true

Pikmin = true

Puffmin = true

 = true

WaxSoldier = true

Halt = true

InternNPC = true

Shrimp = true

Water Crawler = true

Demolitionist = true

Demogorgon = true

