## Settings file was created by plugin LethalInternship v0.19.4
## Plugin GUID: Szumi57.LethalInternship

[1. Internship program]

## Be aware of possible performance problems when more than ~16 interns spawned
# Setting type: Int32
# Default value: 16
# Acceptable value range: From 1 to 32
Max amount of interns purchasable = 16

## Price for one intern
# Setting type: Int32
# Default value: 19
# Acceptable value range: From 0 to 200
Price = 19

## Max health of intern
# Setting type: Int32
# Default value: 51
# Acceptable value range: From 1 to 200
Max health = 51

## Shrink (less than 1) or equals to default (=1) size of interns
# Setting type: Single
# Default value: 0.85
# Acceptable value range: From 0.3 to 1
Size multiplier of intern = 0.85

## Set the maximum of interns that can be animated at the same time (if heavy lag occurs when looking at a lot of interns) (client only)
# Setting type: Int32
# Default value: 32
# Acceptable value range: From 1 to 32
Max animated intern at once = 32

## Can a dead player spectate interns ?
# Setting type: Boolean
# Default value: false
Spectate interns = false

## Can you monitor the intern on the ship radar computer screen ?
# Setting type: Boolean
# Default value: false
Radar monitoring enabled for interns = false

## Careful ! This title will become your command to type in to enter the intership program
# Setting type: String
# Default value: INTERNSHIP PROGRAM
Title visible in help menu in the terminal = INTERNSHIP PROGRAM

# Setting type: String
# Default value: Need some help ? Try our new workforce, ready to assist you and gain experience
Subtitle visible in help menu under the title of intership program = Need some help ? Try our new workforce, ready to assist you and gain experience

[2. Intern identities]

## Spawn the interns with random identities ?
# Setting type: Boolean
# Default value: true
Randomness of identities = true

[3. Behaviour]

## Should the intern crouch like the player is crouching ?
# Setting type: Boolean
# Default value: true
Crouch with player = true

## 0: Change manually | 1: Automatically change with the same suit as player | 2: Random available suit when the intern spawn
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1
Options for changing interns suits = 0

## Should the intern just teleport and bypass any animations when using ladders ?
# Setting type: Boolean
# Default value: false
Teleport when using ladders = false

## Should the intern grab the items near main entrance and fire exits ?
# Setting type: Boolean
# Default value: true
Grab items near entrances = true

## Should the intern try to grab bees nests ?
# Setting type: Boolean
# Default value: false
Grab bees nests = false

## Should the intern try to grab dead bodies ?
# Setting type: Boolean
# Default value: false
Grab dead bodies = false

## Should the intern try to grab the baby maneater ?
# Setting type: Boolean
# Default value: false
Grab the baby maneater = false

## Should the intern try to grab the wheelbarrow (mod) ?
# Setting type: Boolean
# Default value: false
Grab the wheelbarrow = false

## Should the intern try to grab the shopping cart (mod) ?
# Setting type: Boolean
# Default value: false
Grab the shppping cart = false

[4. Teleporters]

## Should the intern his held item before teleporting ?
# Setting type: Boolean
# Default value: true
Teleported intern drop item (not if the intern is grabbed by player) = true

[5. Voices]

## Volume multiplier of voices of interns
# Setting type: String
# Default value: 1
Volume multiplier (Client only) = 1

## 0: No talking | 1: Shy | 2: Normal | 3: Talkative | 4: Can't stop talking
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 4
Talkativeness (Client only) = 2

## Allow the use of swear words in interns voice lines ?
# Setting type: Boolean
# Default value: false
Swear words (Client only) = false

[6. Debug]

## Enable the debug logs used for this mod.
# Setting type: Boolean
# Default value: false
EnableDebugLog  (Client only) = false

