## Settings file was created by plugin LC Always Hear Active Walkies Fork v1.6.0
## Plugin GUID: ZetaArcade.LCAlwaysHearActiveWalkieFork

[General]

# Setting type: Single
# Default value: 12
AudibleDistance = 12

# Setting type: Single
# Default value: 20
WalkieRecordingRange = 20

# Setting type: Single
# Default value: 20
PlayerToPlayerSpatialHearingRange = 20

