[Main]

## Replaces cow carcasses with an alternate renderer. Use if you're sensitive to gore.
# Setting type: Boolean
# Default value: false
Carnophobia Mode = false

## Disables shadows on most lights. Mostly deprecated, use only if you're getting errors related to Max Shadow Requests in your log file.
# Setting type: Boolean
# Default value: false
Low Shadow Mode = false

[Tag Modifiers]

## If you set any of the Tag Modifiers to 'Always Enabled', set the others to 'False' to avoid overlapping.
# Setting type: String
# Default value: Please Read!
!!!IMPORTANT!!! = Please Read!

## Enables extra cheese when on 'Cheese' tagged moons. (Options are 'True', 'False', or 'Always Enabled'.)
# Setting type: String
# Default value: True
Cheddarhouse = True

## Enables confetti, piñatas and more when on 'Fun' tagged moons. (Options are 'True', 'False', or 'Always Enabled'.)
# Setting type: String
# Default value: True
Funhouse = True

