[Custom Events]

## Enables custom events to be loaded from the custom events folder.
# Setting type: Boolean
# Default value: true
Enable Custom Events? = true

[Debugging]

## Enables extra logging for debugging purposes.
# Setting type: Boolean
# Default value: false
Enable Extra Logging? = false

## Silences warnings about potentially mismatched enums
# Setting type: Boolean
# Default value: true
Silence Enum Warnings? = true

## Silences warnings about potentially missing prefabs
# Setting type: Boolean
# Default value: true
Silence Prefab Warnings? = true

## Silences warnings about missing enemies and items from mods not installed.
# Setting type: Boolean
# Default value: true
Silence Get Method Warnings? = true

[Events Features]

## When the Hell event occurs, should the time be adjusted to be normal? Disable if you wish to suffer.
# Setting type: Boolean
# Default value: true
Enable Hell Time Adjustment? = true

## When the VeryLateShip event occurs, should the time be adjusted to be normal? Disable if you wish to suffer.
# Setting type: Boolean
# Default value: true
Enable Very Late Ship Time Adjustment? = true

## Enables special events to be loaded.
# Setting type: Boolean
# Default value: false
Enable Special Events? = false

## Blacklist items here to prevent them from being used in scrap transmutation. Uses itemProperties.itemName Component Name.
# Setting type: String
# Default value: 
Transmutation Blacklist = 

[General]

Enable Extra Logging? = false

[Mod Compatibility]

## If you wish to let other mods handle power levels, enable this. Some settings may affect this.
# Setting type: Boolean
# Default value: false
Experimental Dont Handle Power? = false

## If you wish to let other mods handle spawn curves, enable this. Some settings may affect this.
# Setting type: Boolean
# Default value: false
Experimental Dont Handle Spawn Chance? = false

## If you wish to let other mods handle weather effects, enable this.
# Setting type: Boolean
# Default value: false
Defer Weather To Weather ToolKit Mod? = false

