[Attacking]

## (Client) The pikmin's attack strength, will be normalizd (1 = 0.01)
# Setting type: Single
# Default value: 1
AttackStrength = 1

## (Client) The speed at which the Pikmin type attacks at.
# Setting type: Single
# Default value: 0.5
AttackRate = 0.5

## (Client) The range at which pikmin tpe can hit an enemy when not latched on
# Setting type: Single
# Default value: 0.5
AttackDistance = 0.5

## (Client) The range at which the pikmin type will attempt to jump onto the enemy
# Setting type: Single
# Default value: 3
JumpLatchOnRange = 3

## (Client) The damage the will be delt to enemies around the Pikmin Type when it dies, will be normalizd (1 = 0.01)
# Setting type: Single
# Default value: 0
DamageDeltUponDeath = 0

## (Client) Enemies within this range will be delt the DamageDeltUponDeath ammount of damage when the pikmin type dies
# Setting type: Single
# Default value: 0
DeathDamageRange = 0

## (Client) The ammount of damage delt on enemies the pikmin lands on, will be normalizd (1 = 0.01)
# Setting type: Single
# Default value: 6
DamageDeltUpLanding = 6

## (Client) The odds of the pikmin being shooken off an enemy (1 = Wont be shooken off, 0 = Will be shooken off)
# Setting type: Single
# Default value: 0.75
ShakeEndurance = 0.75

[Other]

## (Client) Whether the pikmin instantly enters the onion
# Setting type: Boolean
# Default value: false
InstaEnterOnion = false

[Piklopedia]

## (Client) Puts the Pikmin Type's Piklopedia page in a more standardised format. If turned off: ScientificName and HelpfulLevel will not be used
# Setting type: Boolean
# Default value: true
UsePresetFormatting = true

## (Client) Configuration for HelpfulLevel
# Setting type: String
# Default value: 70%
HelpfulLevel = 70%

## (Client) The Pikmin type's scientific name
# Setting type: String
# Default value: Pikminidae yokozunum
ScientificName = Pikminidae yokozunum

## (Client) The Pikmin type's Piklopedia name (use - for spaces), leave empty to use the PikminName
# Setting type: String
# Default value: 
piklopediaName = 

[Pikmin Info]

## (Client) The main color of the Pikmin (Used for HUD)
## (Color), in hex format (RRGGBBAA)
# Setting type: Color
# Default value: 8000FFFF
PikminPrimaryColor = 8000FFFF

## (Client) The secondary color of the Pikmin (Used for HUD)
## (Color), in hex format (RRGGBBAA)
# Setting type: Color
# Default value: 3E0080FF
PikminSecondaryColor = 3E0080FF

## (Client) The number of frames the animated pikmin ghost will hold on each frame
# Setting type: Int32
# Default value: 2
AnimatedPikminGhostFrameHold = 2

## The tiling for the pikmin ghost's texture (Vector2), sperated by spaces, no commas (x y)
# Setting type: String
# Default value: 1 1
OverrideGhostTextureTileing = 1 1

## The offset for the pikmin ghost's texture (Vector2), sperated by spaces, no commas (x y)
# Setting type: String
# Default value: 0 0
OverrideGhostTextureOffset = 0 0

## (Client) Whether to set the pikmin ghost's color to the pikmin's primary color
# Setting type: Boolean
# Default value: true
SetGhostColor = true

## (Client) Prevents the pikmin from being registered, only set this to true if the type is unused or not ment to be registered
# Setting type: Boolean
# Default value: false
DisableRegistration = false

[Pikmin Stats]

## The speed the pikmin is at the growth stage
## (List), separated by commas, no spaces in between (item1,item2,item3)
# Setting type: String
# Default value: 3,7,10
growSpeeds = 3,7,10

## (optinal) The attack power the pikmin is at the growth stage
## (List), separated by commas, no spaces in between (item1,item2,item3)
# Setting type: String
# Default value: 
growAttacks = 

## (optinal) The carry strength the pikmin is at the growth stage
## (List), separated by commas, no spaces in between (item1,item2,item3)
# Setting type: String
# Default value: 
growCarryStrengths = 

## (Client) The multiplier for the pikmin's growth speed (1 = no change, 2 = double speed)
# Setting type: Single
# Default value: 1
GrowSpeedMultiplier = 1

## (Client) Only used if your type does not have any GrowStages
# Setting type: Single
# Default value: 1
DefaultSpeed = 1

## (Client) How much faster the pikmin goes when running
# Setting type: Single
# Default value: 1.25
RunningSpeedMultiplier = 1.25

## (Client) The pikmin's carry strength
# Setting type: Int32
# Default value: 10
CarryStrength = 30

## You generally want all of these to be the same value (Vector3), sperated by spaces, no commas (x y z)
# Setting type: String
# Default value: 21 21 21
ThrowForce = 21 21 21

## The hazards this Pikmin is resistant to
## (List), separated by commas, no spaces in between (item1,item2,item3)
## Possible values: Fire, Water, Electricity, Poison, Crush, Bullet, Explosive, Spore, Stab, Sticky, None
# Setting type: String
# Default value: 
HazardsResistantTo = ## (Client) The maximum distance the pikmin can detect items,Water
# Setting type: Single
# Default value: 5
ItemDetectionRange = 5

## (Client) Allows the pikmin type to latch onto objects
# Setting type: Boolean
# Default value: true
CanLatchOnToObjects = true

## (Client) Allows the pikmin type to jump and latch onto objects
# Setting type: Boolean
# Default value: true
CanJumpOntoObjects = true

## (Client) Allows the pikmin type to carry objects
# Setting type: Boolean
# Default value: true
CanCarryObjects = true

[Spawning]

## (Client) Whether the pikmin can spawn indoors
# Setting type: Boolean
# Default value: true
SpawnsIndoors = true

## (Client) Whether the pikmin can spawn outdoors
# Setting type: Boolean
# Default value: false
SpawnsOutdoors = false

## (Client) Whether the pikmin spawns as a sprout
# Setting type: Boolean
# Default value: false
SpawnsAsSprout = false

## (Client) Whether the pikmin uses the pikmin container
# Setting type: Boolean
# Default value: true
UsesPikminContainer = true

## (Client) The day after which this pikmin type can start spawning in. Set to -1 to spawn on day 1.
# Setting type: Int32
# Default value: -1
SpawnAfterDay = -1

## Per-moon spawn chance multipliers. Format: MoonName:Multiplier (e.g., Experimentation:1.5). Moon names should not include numbers or special characters (e.g., use 'Experimentation' not '41-Experimentation').
## (List), separated by commas, no spaces in between (item1,item2,item3)
# Setting type: String
# Default value: 
MoonSpawnMultipliers = 

## Per-tag spawn chance multipliers for LethalLevelLoader tags. Format: Tag:Multiplier (e.g., Forest:2.0)
## (List), separated by commas, no spaces in between (item1,item2,item3)
# Setting type: String
# Default value: 
TagSpawnMultipliers = 

## Per-weather spawn chance multipliers. Format: Weather:Multiplier (Weather options: None, DustClouds, Rainy, Stormy, Foggy, Flooded, Eclipsed)
## (List), separated by commas, no spaces in between (item1,item2,item3)
# Setting type: String
# Default value: 
WeatherSpawnMultipliers = 

[Sprout]

## (Client) If the override material is null, the pikmin's sprout will just color it with the PikminPrimaryColor
# Setting type: Boolean
# Default value: true
SetColorOnSprout = true

## (Client) If you want the Pikmin's idle glow to be a differnt color than the PikminPrimaryColor
# Setting type: Boolean
# Default value: false
UseOverrideSproutGlowColor = false

## (Client) If you want the Pikmin's idle glow to be a differnt color than the PikminPrimaryColor (Make sure UseOverrideSproutGlowColor is true when using this)
## (Color), in hex format (RRGGBBAA)
# Setting type: Color
# Default value: FFFFFFFF
OverrideSproutGlowColor = FFFFFFFF

[Wild Spawn Falloff]

## (Client) The maximum number of pikmin that can spawn together at one spawn point when group spawning is triggered. Only used when CanGroupSpawnWhenFalloffHigh is true.
# Setting type: Int32
# Default value: 3
MaxGroupSpawnSize = 3

