[Custom Events]

## Enables custom events to be loaded from the custom events folder.
# Setting type: Boolean
# Default value: true
Enable Custom Events? = true

[Debugging]

## Enables extra logging for debugging purposes.
# Setting type: Boolean
# Default value: false
Enable Extra Logging? = false

## Silences warnings about potentially mismatched enums
# Setting type: Boolean
# Default value: true
Silence Enum Warnings? = true

## Silences warnings about potentially missing prefabs
# Setting type: Boolean
# Default value: true
Silence Prefab Warnings? = true

## Silences warnings about missing enemies and items from mods not installed.
# Setting type: Boolean
# Default value: true
Silence Get Method Warnings? = true

[Events Features]

## Setting this to true will disable all events from spawning. This forces zero events.
# Setting type: Boolean
# Default value: false
Disable all events? = false

## Enables special events to be loaded.
# Setting type: Boolean
# Default value: false
Enable Special Events? = false

## Enables beta events to be loaded. These events are untested and may be very buggy, use at your own risk.
# Setting type: Boolean
# Default value: false
Enable Beta Events? = false

## Blacklist items here to prevent them from being used in scrap transmutation. Uses itemProperties.itemName Component Name.
# Setting type: String
# Default value: 
Transmutation Blacklist = 

## If enabled, Brutal will adjust certain events and features to be suited for speedrunning. I recommend keeping this off unless you are actively speedrunning the game.
# Setting type: Boolean
# Default value: false
Enable Speedrun Mode? = false

## Chance of events occurring per day. Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 100, 0.0, 100, 100
Chance of Events Occurring = 100, 0.0, 100, 100

## Time of initial popup of tips.
# Setting type: Single
# Default value: 5
Initial Time PopUp = 5

## Time in between tips messages in seconds.
# Setting type: Single
# Default value: 5
Time between tips = 5

[Mod Compatibility]

## If you wish to let other mods handle power levels, enable this. Some settings may affect this.
# Setting type: Boolean
# Default value: false
Experimental Dont Handle Power? = true
## If you wish to let other mods handle spawn curves, enable this. Some settings may affect this.
# Setting type: Boolean
# Default value: false
Experimental Dont Handle Spawn Chance? = true
## Disable this if you wish to let Brutal not handle any propeties outside of events.
# Setting type: Boolean
# Default value: true
Let Brutal handle properties outside of events? = false
## If you wish to let other mods handle Brutal's weather setting effects, enable this. This has no effect on custom events as those use weather toolkit by default.
# Setting type: Boolean
# Default value: false
Defer Weather To Weather ToolKit Mod? = false

## If you don't have any enemy escape mods (Starlancer AI, for example) installed, should Brutal modify spawning of certain events to prevent improper enemy AI behaviour? Disable this if you wish to run events without the safety check.
# Setting type: Boolean
# Default value: true
Enforce Escape Mod Checks? = true

## If enabled, Brutal will handle the scan command with accurate scrap values to its modifiers. If you have other mods that handle this feature, disable it. Please note, if disabled, the scan command will not show the proper values for scrap value.
# Setting type: Boolean
# Default value: true
Let Brutal handle the SCAN command? = true

[Randomizer]

## Should the randomizer be enabled?
# Setting type: Boolean
# Default value: false
Enable Randomizer? = false

## When should the randomizer be triggered?
# Setting type: RandomizeFlags
# Default value: QuotaFulfill
# Acceptable values: None, QuotaFulfill, LeverPull, Start, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
When to Randomize? = QuotaFulfill

## If enabled, event weights will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Event Weights? = false

## Minimum weight for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 1, 0.0, 1, 1
Randomize Event Weights Min = 1, 0.0, 1, 1

## Maximum weight for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 100, 0.0, 100, 100
Randomize Event Weights Max = 100, 0.0, 100, 100

## If enabled, factory size will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Factory Size? = false

## Minimum factory size for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 1, 0.0, 1, 1
Randomize Factory Size Min = 1, 0.0, 1, 1

## Maximum factory size for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 3, 0.0, 3, 3
Randomize Factory Size Max = 3, 0.0, 3, 3

## If enabled, scrap value will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Scrap Value? = false

## Minimum scrap value for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 0.5, 0.5, 0.5, 0.5
Randomize Scrap Value Min = 0.5, 0.5, 0.5, 0.5

## Maximum scrap value for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 3, 0.0, 3, 3
Randomize Scrap Value Max = 3, 0.0, 3, 3

## If enabled, scrap amount will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Scrap Amount? = false

## Minimum scrap amount for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 0.5, 0.5, 0.5, 0.5
Randomize Scrap Amount Min = 0.5, 0.5, 0.5, 0.5

## Maximum scrap amount for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 3, 0.0, 3, 3
Randomize Scrap Amount Max = 3, 0.0, 3, 3

## If enabled, enemy HP will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Enemy HP? = false

## Minimum enemy HP added for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 0, 0.0, 0, 0
Randomize Enemy HP Min = 0, 0.0, 0, 0

## Maximum enemy HP added for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 3, 0.0, 3, 3
Randomize Enemy HP Max = 3, 0.0, 3, 3

## If enabled, inside spawn chance will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Inside Spawn Chance? = false

## Minimum inside spawn chance added for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 0.0, 0.0, 0.0, 0.0
Randomize Inside Spawn Chance Min = 0.0, 0.0, 0.0, 0.0

## Maximum inside spawn chance added for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 3, 0.0, 3, 3
Randomize Inside Spawn Chance Max = 3, 0.0, 3, 3

## If enabled, outside spawn chance will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Outside Spawn Chance? = false

## Minimum outside spawn chance added for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 0.0, 0.0, 0.0, 0.0
Randomize Outside Spawn Chance Min = 0.0, 0.0, 0.0, 0.0

## Maximum outside spawn chance added for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 3, 0.0, 3, 3
Randomize Outside Spawn Chance Max = 3, 0.0, 3, 3

## If enabled, spawn chance will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Spawn Chance? = false

## Minimum spawn chance for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 0, 0.0, 0, 0
Randomize Spawn Chance Min = 0, 0.0, 0, 0

## Maximum spawn chance for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 3, 0.0, 3, 3
Randomize Spawn Chance Max = 3, 0.0, 3, 3

## If enabled, spawn Cap will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Spawn Cap? = false

## Minimum spawn Cap for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 0, 0.0, 0, 0
Randomize Spawn Cap Min = 0, 0.0, 0, 0

## Maximum spawn Cap for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 3, 0.0, 3, 3
Randomize Spawn Cap Max = 3, 0.0, 3, 3

## If enabled, inside power will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Inside Power? = false

## Minimum inside power added for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 0, 0.0, 0, 0
Randomize Inside Power Min = 0, 0.0, 0, 0

## Maximum inside power added for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 3, 0.0, 3, 3
Randomize Inside Power Max = 3, 0.0, 3, 3

## If enabled, outside power will be randomized every time depending on the settings of the randomizer.
# Setting type: Boolean
# Default value: false
Randomize Outside Power? = false

## Minimum outside power added for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 0, 0.0, 0, 0
Randomize Outside Power Min = 0, 0.0, 0, 0

## Maximum outside power added for randomization.Format: BaseScale, IncrementScale, MinCap, MaxCap,   Forumla: BaseScale + (IncrementScale * Difficulty),   By default difficulty goes between 0 to 100 depending on certain factors
# Setting type: String
# Default value: 3, 0.0, 3, 3
Randomize Outside Power Max = 3, 0.0, 3, 3

