[Company Building Enhancements]

## If set to true, the ship will land instantly at the Company Building.
Instant Landing At Company Building = false

## If set to true, the ship will automatically re-route & land at the Company Building when the deadline reaches 0 days.
Automatic Landing At Company Building When Deadline Reaches 0 Days = true

## If set to true, you will be able to sell scrap from the terminal while the ship is landed at the Company Building.
Sell Scrap From Terminal = false

## If set to true, you will have infinite stamina/sprint at the Company Building.
Infinite Stamina/Sprint At Company Building = false

## If set to true, you will have a weightless inventory at the Company Building.
Weightless Inventory At Company Building = false
