[DevelOptions]

## Enable development dll output
# Setting type: Boolean
# Default value: false
Enabled = false

## Folder where to write the modified dlls
# Setting type: String
# Default value: Z:\home\lucius\.local\share\com.kesomannen.gale\lethal-company\profiles\LegendaryFixes\BepInEx\patchers\mattymatty-AdditionalNetworking
OutputPath = Z:\home\lucius\.local\share\com.kesomannen.gale\lethal-company\profiles\LegendaryFixes\BepInEx\patchers\mattymatty-AdditionalNetworking

## Extension to use for the modified dlls
## ( Do not use .dll if outputting inside the BepInEx folders )
# Setting type: String
# Default value: .pdll
OutputExtension = .pdll

